body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 24pt;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

th, td {
  width: 0px;
  border: 1px solid black;
  padding: 4px;
  text-align: center;
}

.no-border {
    border: 0px;
}

.no-border td {
  border: 0px;
}

.no-border th {
  border: 0px;
}

th {
  background-color: black;
}

/* no underline */
a {
  text-decoration: none;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

button {
    padding-left: 20px;
    padding-right: 20px;
}

div.hint { 
    margin: 10px;
}

.full {
    left:0px;
    top:0px;
    width : 100%;
    height : 100%;
}

audio.full {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-left: 20px;
  margin-right: 5px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

.results-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.links-bar {
  margin-bottom: 1em;
}

#footer {
  margin: 1em;
  font-size: small;
}

/* 
  Default: Native resolution (actual resolution of .webp cover images)
  Default styles for all screen sizes (mobile-first approach) 
  Display full-res to fit the entire screen
  <meta name="viewport" content="width=720px, initial-scale=0.5, user-scalable=no">
  I tried using percentages and ended up with gaps and misaligned images.
*/
.cover-img {
  width: 1000px; 
  height: 1000px; 
  display: block; /* Helps with alignment */
  float: left;
}

/*
 * 720x1280 (my phone resolution) (no scrollbar)
 * One in a row
 * 720
 */
@media only screen and (min-width: 720px) {
  .cover-img {
    width: 720px;
    height: 720px;
    float: none;
  }
}

/*
 * 1080x2400 (fancy phone resolution) (no scrollbar)
 * One in a row
 * 1080
 */
@media only screen and (min-width: 720px) {
  .cover-img {
    width: 1080px;
    height: 1080px;
    float: none;
  }
}

/*
 * 800x600 (common ancient desktop resolution) (subtract 5px for scrollbar)
 * Two in a row
 * 800/2=400
 */
@media only screen and (min-width: 1366px) {
  .cover-img {
    width: 395px;
    height: 395px;
    float: left;
  }
}

/*
 * 1366x782 (common older desktop resolution) (subtract 5px for scrollbar)
 * Two in a row
 * 1366/2=683
 */
@media only screen and (min-width: 1366px) {
  .cover-img {
    width: 678px;
    height: 678px;
    float: left;
  }
}

/*
 * 1440x3200 (super fancy phone resolution) (no scrollbar)
 * Two in a row
 * 1440/2=720
 */
@media only screen and (min-width: 1366px) {
  .cover-img {
    width: 720px;
    height: 720px;
    float: left;
  }
}

/*
 * 1536x864 (common desktop resolution) (subtract 5px for scrollbar)
 * Three in a row
 * 1536/3=512
 */
@media only screen and (min-width: 1366px) {
  .cover-img {
    width: 507px;
    height: 507px;
    float: left;
  }
}

/* 1920x966 (my desktop resolution) (subtract 5px for scrollbar)
   Three in a row
   Ironically, the smaller font size looks better on larger screens
   since they can display three album covers in a row
   E.g. my browser screen size is 1920x966, 
   (smaller than my sceen resolution (3840x2160) due to 200% scaling).
   1920/3 = 640
*/
@media only screen and (min-width: 1920px) {
  .cover-img {
    width: 635px;
    height: 635px;
    float: left;
  }
}
