<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>artists</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mediaserver.css') }}">
</head>
<body>
    {% include 'links.html' %}
    <div id="trackList">
    <table>
        <tr><th>Count</th><th>Artist</th></tr>
    {% for artist in artist_counts %}
        <tr>
            <td>{{ artist_counts[artist] }}</td>
            <td><a href="/albums?artist={{ artist|quote_plus }}">{{ artist }}</a></td>
        </tr>
    {% endfor %}
    </div>
</body>
</html>
