<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>genres a-z</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mediaserver.css') }}">
</head>
<body>
    <h1>genres</h1>
    <div id="trackList">
    {% for genre in genres %}
        <!--<a href="/artists?genre={{ genre|quote_plus }}">{{ genre }}</a>-->
        <a href="/albums?genre={{ genre|quote_plus }}">{{ genre }}</a>
        <br>
    {% endfor %}
    </div>
</body>
</html>
