<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>genres</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mediaserver.css') }}">
</head>
<body>
    {% include 'links.html' %}
    <div class="ResultsInfo">
    {{ "{:,}".format(genre_counts|length) }} results:
    </div>
    <div id="trackList">
    <table>
        <tr><th><a href="/genres?sort=count">Count</a></th><th><a href="/genres?sort=name">Genre</a></th></tr>
    {% for genre in genre_counts %}
        <tr>
            <td>{{ genre_counts[genre] }}</td><td><a href="/albums?genre={{ genre|quote_plus }}">{{ genre }}</a></td>
        </tr>
    {% endfor %}
    </table>
    </div>
</body>
</html>
