<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>genres</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mediaserver.css') }}">
</head>
<body>
    {% include 'links.html' %}
    <div id="trackList">
    {% for genre in genre_counts %}
        <!--<a href="/artists?genre={{ genre|quote_plus }}">[{{ genre_counts[genre] }}] {{ genre }}</a>-->
        <a href="/albums?genre={{ genre|quote_plus }}">[{{ genre_counts[genre] }}] {{ genre }}</a>
        <br>
    {% endfor %}
    </div>
</body>
</html>
