<h1>random track - can you name it?</h1>
Hints: 
<input type="checkbox" class="hintChk" id="hintYearChk">
<label for="hintYearChk">Year</label>
<input type="checkbox" class="hintChk" id="hintArtist1stLetterChk">
<label for="hintArtist1stLetterChk">Artist 1st Letter</label>
<input type="checkbox" class="hintChk" id="hintArtist2ndLetterChk">
<label for="hintArtist2ndLetterChk">Artist 2nd Letter</label>
<button id="showBtn">Show Details</button>
<div id="hintYear" class="hint">Year: YEAR</div>
<div id="hintArtist1stLetter" class="hint">Artist 1st Letter: LETTER</div>
<div id="hintArtist2ndLetter" class="hint">Artist 2nd Letter: LETTER</div>
<br>