<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mediaserver</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mediaserver.css') }}">
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script>
    $(function() {
        console.log( "ready!" );
        var trackUrl = $("#trackList a:first").attr("href");
        var tokens = trackUrl.split("/");
        var coverUrl = tokens.slice(0, -1).join("/") + "/cover.jpg";
        $("#coverImg").attr("src", coverUrl);
    });
    </script>
</head>
<body>
    <a href="/">clear</a> &nbsp;
    <a href="/artists">artists</a> &nbsp;
    <a href="/albums">albums</a> &nbsp;
    <a href="/genres-alpha">genres a-z</a> &nbsp;
    <a href="/genre-counts">genre counts</a> &nbsp;
    <a href="/genres-cloud">genres cloud</a> &nbsp;
    <a href="/artists-cloud">artists cloud</a> &nbsp;
    <br>
    {% if request.args.getlist('album')|length > 0 %}
        <img src="#" id="coverImg" />
        <br>
    {% endif %}
    <h1>tracks</h1>
    <div id="trackList">
    {% for file in mediafiles %}
        {% if request.args.getlist('genre')|length < 1 or file.genre in request.args.getlist('genre') %}
        {% if request.args.getlist('artist')|length < 1 or file.artist in request.args.getlist('artist') %}
        {% if request.args.getlist('album')|length < 1 or file.album in request.args.getlist('album') %}
            <a href="{{ file.path }}">[{{ file.year }}] [{{ file.genre }}] {{ file.artist }} - {{ file.album }} - {{ file.title }}</a>
            <br>
        {% endif %}
        {% endif %}
        {% endif %}
    {% endfor %}
    </div>
</body>
</html>
