<div id="navLinks">
<a href="/">/</a> &nbsp;
<a href="/tracks">tracks</a> &nbsp;
<a href="/name-that-tune?minYear=1960&maxYear=2024">name that tune</a> &nbsp;
<a href="/player?minYear=1960&maxYear=2024">player</a> &nbsp;
<a href="/artists-alpha">artists a-z</a> &nbsp;
<a href="/artist-counts">artist counts</a> &nbsp;
<a href="/albums?year=2024">albums</a> &nbsp;
<a href="/genres-alpha">genres a-z</a> &nbsp;
<a href="/genre-counts">genre counts</a> &nbsp;
<a href="/genres-cloud">genres cloud</a> &nbsp;
<a href="/artists-cloud">artists cloud</a> &nbsp;
<br>
</div>