<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mediaserver</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mediaserver.css') }}">
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='setCoverUrl.js') }}"></script>
    <script>
    $(function() {
        $("#hintYearChk").prop('checked', false);
        $("#hintArtist1stLetterChk").prop('checked', false);
        $("#trackList").hide();
        $(".hint").hide();
        $("#audioElem")[0].addEventListener('ended', function() {
            var repeat = $("#repeatChk").prop('checked');
            if (repeat) {
                setTimeout(function() {
                    $("#audioElem")[0].play();
                }, 1000);
            }
        });
        $("#playBtn").click(function(){
            var audio = $("#audioElem")[0];
            if (audio.paused) {
                audio.play();
                $(this).html("Pause");
            }else{
                audio.pause();
                $(this).html("Play");
            }
        });
        $("#restartBtn").click(function(){
            var audio = $("#audioElem")[0];
            audio.currentTime = 0;
            if (audio.paused) {
                audio.play();
            }
        });
        $("#showBtn").click(function() {
            if ($("#tracklist").is(":hidden")) {
                $("#trackList").show()
                $(this).html("Hide Details");
            } else {
                $("#trackList").show()
                $(this).html("Show Details");
            }
            $(".hint").hide();  // continuing to show hints would be redudant
            $(".hintChk").prop("checked", false);
            $(this).prop("disabled", true);  // once details are shown, it's permanent
            $(".hintChk").prop("disabled", true);  // once details are shown, hints are redundant
        });
        $('#nextBtn').click(function() {
            location.reload();
        });
        $("#hintYearChk").click(function() {
            $("#hintYear").toggle();
        });
        $("#hintArtist1stLetterChk").click(function() {
            $("#hintArtist1stLetter").toggle();
        });
    });
    </script>
</head>
<body>
    {% include 'links.html' %}
    <h1>random track - can you name it?</h1>
    <button id="playBtn">Play</button>
    <input type="checkbox" id="repeatChk" checked="checked"/>
    <label for="repeatChk">Repeat</label>
    <button id="restartBtn">Restart</button>

    Hints: 
    <input type="checkbox" class="hintChk" id="hintYearChk">
    <label for="hintYearChk">Year</label>
    <input type="checkbox" class="hintChk" id="hintArtist1stLetterChk">
    <label for="hintArtist1stLetterChk">Artist 1st Letter</label>

    <button id="showBtn">Show Details</button>
    <button id="nextBtn">Next</button>
    <br>
    <audio id="audioElem" class="full" controls>
        <source src="{{ file.path }}" type="audio/mpeg" autoplay>
      Your browser does not support the audio element.
    </audio> 
    <div id="hintYear" class="hint">Year: {{ file.year }}</div>
    <div id="hintArtist1stLetter" class="hint">Artist 1st Letter: {{ file.artist|make_list|first }}</div>
    <div id="trackList">
        <a class="trackLink" href="{{ file.path }}">[{{ file.year }}] [{{ file.genre }}] {{ file.artist }} - {{ file.album }} - {{ file.title }}</a>
        <br>
        <a href="/tracks?artist={{ file.artist|quote_plus }}&album={{ file.album|quote_plus }}">
            <img src="#" id="coverImg" width="1000" height="1000" />
        </a>
    </div>
</body>
</html>
