<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>player</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mediaserver.css') }}">
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    {% if request.args.get('hints') == "1" %}
    <script src="{{ url_for('static', filename='hints.js') }}"></script>
    {% else %}
    <script src="{{ url_for('static', filename='hints_stub.js') }}"></script>
    {% endif %}
    <script>
    $(function() {
        $("#audioElem")[0].addEventListener('ended', function() {
            //The repeat feature doesn't seem very useful (who wants to listen to the same song over and over??)
            //So make continuous shuffle the default (and only) behavior.
            /*
            var repeat = $("#repeatChk").prop('checked');
            if (repeat) {
                setTimeout(function() {
                    $("#audioElem")[0].play();
                }, 1000);
            }
            */
            loadTrack();
            $("#audioElem")[0].addEventListener('canplaythrough', function() {
                var audio = $("#audioElem")[0];
                if (audio.paused) {
                    audio.play();
                }
            });
        });
        toggle_playback = function(this_elem) {
            var audio = $("#audioElem")[0];
            if (audio.paused) {
                audio.play();
                $("#playBtn").html("Pause");
            }else{
                audio.pause();
                $("#playBtn").html("Play");
            }
        }
        $("#playBtn").click(function(){
            toggle_playback();
        });
        $("#linkTitle").click(function(){
            toggle_playback();
        })
        $("#restartBtn").click(function(){
            var audio = $("#audioElem")[0];
            audio.currentTime = 0;
            if (audio.paused) {
                audio.play();
            }
        });
        function loadTrack() {
            resetHints();
            searchParams = new URLSearchParams(location.search);
            var requestParams = {};
            const scalarKeys = ["minYear", "maxYear"]; //all others are list keys
            for (const key of searchParams.keys()) {
                console.log("searchParam key=" + key);
                if (scalarKeys.includes(key)) {
                    const value = searchParams.get(key);
                    console.log("searchParams: (scalar) " + key + " = " + value);
                    requestParams[key] = value;
                } else {
                    const values = searchParams.getAll(key);
                    console.log("searchParams: (list) " + key + " = " + values);
                    requestParams[key] = values;
                }
            }
            console.log("loadTrack location.search=" + location.search);
            console.log("requestParams=" + JSON.stringify(requestParams));
            $.getJSON("api/track", requestParams, function(track) {
                console.log(track);
                $("#audioElem").prop("src", "/getfile/" + track.path);
                $("#linkYear").html(track.year);
                $("#linkGenre").html(track.genre);
                $("#linkArtist").html(track.artist);
                $("#linkAlbum").html(track.album);
                $("#linkTitle").html(track.title);
                $("#coverImg").prop("src", "/getfile/" + track.cover_path);
                $("#linkYear").prop("href", "/albums?year=" + track.year);
                $("#linkGenre").prop("href", "/artists?genre=" + encodeURIComponent(track.genre));
                $("#linkArtist").prop("href", "/albums?artist=" + encodeURIComponent(track.artist));
                $("#linkAlbum").prop("href", "/tracks?artist=" + encodeURIComponent(track.artist) + "&album=" + encodeURIComponent(track.album));
                //$("#linkTitle").prop("href", "/player?artist=" + encodeURIComponent(track.artist) + "&album=" + encodeURIComponent(track.album) + "&title=" + encodeURIComponent(track.title));
                $("#linkCover").prop("href", "/tracks?artist=" + encodeURIComponent(track.artist) + "&album=" + encodeURIComponent(track.album));
                $("#playLocalMediaLink").prop("href", "/player?artist=" + encodeURIComponent(track.artist) + "&album=" + encodeURIComponent(track.album) + "&title=" + encodeURIComponent(track.title));
                $("#searchYouTubeLink").prop("href", "https://www.youtube.com/results?search_query=" + encodeURIComponent(track.artist) + "+" + encodeURIComponent(track.album) + "+" + encodeURIComponent(track.title) + "+video");
		loadTrackHints(track);
            })
            .fail(function() { alert("error - failed to load track(s)"); });
        }
        $('#nextBtn').click(function() {
            loadTrack();
            $("#audioElem")[0].addEventListener('canplaythrough', function() {
                var audio = $("#audioElem")[0];
                if (audio.paused) {
                    audio.play();
                }
            });
        });
        loadTrack();
        //Can't autoplay initially (breaks DOM promise)
        initHints();
    });
    </script>
</head>
<body>
    {% include 'links.html' %}
    <div id="playerControls">
        {% if request.args.get('hints') == "1" %}
        <h1>random track - can you name it?</h1>
        {% endif %}
        <button id="playBtn">Play</button>
        <!--
        <input type="checkbox" id="repeatChk"/>
        <label for="repeatChk">Repeat</label>
        -->
        <button id="restartBtn">Restart</button>
        <button id="nextBtn">Next</button>
        <br>
        {% if request.args.get('hints') == "1" %}
        {% include 'hints.html' %}
        {% endif %}
    </div>
    <audio id="audioElem" class="full" controls>
        <source src="#" type="audio/mpeg" autoplay>
      Your browser does not support the audio element.
    </audio>
    <div id="trackList">
        <a id="linkCover" href="#">
            <img src="#" id="coverImg" width="1000" height="1000" />
        </a>
        <table>
            <tr><th>Playback Options</th>
                <td>
                    <table class="NoBorder">
                        <tr class="NoBorder"><td><a id="playLocalMediaLink" href="#">[▶ Local Media]</a></td></tr>
                        <tr class="NoBorder"><td><a id="searchYouTubeLink" href="#">[🔍 YouTube]</a></td></tr>
                    </table>
                </td>
            </tr>
            <tr><th>Title</th><td><a id="linkTitle" href="#">TITLE</a></td></tr>
            <tr><th>Artist</th><td><a id="linkArtist" href="#">ARTIST</a></td></tr>
            <tr><th>Album</th><td><a id="linkAlbum" href="#">ALBUM</a> </td></tr>
            <tr><th>Genre</th><td><a id="linkGenre" href="#">GENRE</a></td></tr>
            <tr><th>Year</th><td><a id="linkYear" href="#">YEAR</a> </td></tr>
        </table>
    </div>
</body>
</html>
