<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tracks</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mediaserver.css') }}">
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
</head>
<body>
    {% include 'links.html' %}
    {% if request.args.getlist('album')|length > 0 %}
    <div class="subNavLink">
    {% if request.args.getlist('albumartist')|length > 0 %}
    <a class="navLink" href="/player?artist={{ request.args.get('albumartist')|quote_plus }}&album={{ request.args.get('album')|quote_plus }}">Shuffle Album - {{ request.args.get('album') }}</a>
    {% elif request.args.getlist('artist')|length > 0 %}
    <a class="navLink" href="/player?artist={{ request.args.get('artist')|quote_plus }}&album={{ request.args.get('album')|quote_plus }}">Shuffle Album - {{ request.args.get('album') }}</a>
    {% endif %}
    <br>
    </div>
    {% endif %}
    {% if request.args.getlist('album')|length > 0 and cover_path|length > 0 %}
        <img src="{{ cover_path }}" id="coverImg" width="1000" height="1000" />
        <br>
    {% endif %}
    <h1>tracks</h1>
    <div id="trackList">
    <table>
        <tr><th>Year</th><th>Genre</th><th>Artist</th><th>Album</th><th>Track</th></tr>
    {% for file in files %}
        <tr>
            <th><a href="/albums?year={{ file.year }}">{{ file.year }}</a></th>
            <th><a href="/artists?genre={{ file.genre|quote_plus }}">{{ file.genre }}</a></th>
            <th><a href="/albums?artist={{ file.artist|quote_plus }}">{{ file.artist }}</a></th>
            <th><a href="/tracks?artist={{ file.artist|quote_plus }}&album={{ file.album|quote_plus }}">{{ file.album }}</a></th>
            <th><a href="/player?artist={{ file.artist|quote_plus }}&album={{ file.album|quote_plus }}&title={{ file.title|quote_plus }}">{{ file.title }}</a></th>
        </tr>
    {% endfor %}
    </div>
</body>
</html>
