body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 24pt;
}

table {
  width: 100%; /* Optional: Sets the table width */
  border-collapse: collapse; /* Collapses borders into a single line */
}

th, td {
  border: 1px solid white; /* Sets a 1px solid black border for cells */
  padding: 8px; /* Optional: Adds padding inside cells */
  text-align: left; /* Optional: Aligns text to the left */
}

th {
  background-color: black; /* Optional: Adds a background color to header cells */
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

button {
    font-size: 24pt;
    padding-left: 20px;
    padding-right: 20px;
}

.navLink {
    margin-bottom: 10px;
    font-size: 24pt;
}

.subNavLink {
    margin-bottom: 20px;
    font-size: 24pt;
}

div.hint { 
    font-size: 24pt;
    margin: 10px;
}

.full {
    left:0px;
    top:0px;
    width : 100%;
    height : 100%;
}

audio.full {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-left: 20px;
  margin-right: 5px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}
