<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>albums</title>
    {% include '_css.html' %}
</head>
<body>
    {% include 'links_bar.html' %}
    <table class="no-border w-100">
        <table class="w-100">
            <tr><th>All Albums</th></tr>
            <tr><td><a href="{{ url_for('main.albums') }}">all albums</a></td></tr>
        </table>
        <table class="w-100">
            <tr><th>Albums by year range</th></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=2020, maxYear=2029) }}">albums 2020-2029</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=2010, maxYear=2019) }}">albums 2010-2019</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=2000, maxYear=2009) }}">albums 2000-2009</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1990, maxYear=1999) }}">albums 1990-1999</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1980, maxYear=1989) }}">albums 1980-1989</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1970, maxYear=1979) }}">albums 1970-1979</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1960, maxYear=1969) }}">albums 1960-1969</a></td></tr>
        </table>
        <table class="w-100">
            <tr><th>Albums by genre</th></tr>
            <tr><td><a href="{{ url_for('main.albums', genre=['Classic Rock']) }}">albums Classic Rock</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', genre=['Heavy Metal']) }}">albums Heavy Metal</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', genre=['Hip-Hop']) }}">albums Hip-Hop</a></td></tr>
        </table>
        <table class="w-100">
            <tr><th>Albums by year range and genre</th></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1960, maxYear=PRESENT_YEAR, genre=['Industrial Metal', 'Punk', 'Punk Rock', 'Heavy Metal', 'Hip-Hop', 'Urbano', 'Thrash Metal', 'Nu Metal', 'Rock en español', 'Funk Metal', 'Hip-Hop français']) }}">albums workout mix</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=2015, maxYear=PRESENT_YEAR, genre=['Hip-Hop']) }}">albums 2015-{{ PRESENT_YEAR }} Hip-Hop</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1998, maxYear=2008, genre=['Post-Hardcore']) }}">albums 1998-2008 Post-Hardcore</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1995, maxYear=2015, genre=['Indie Rock']) }}">albums 1995-2015 Indie Rock</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1995, maxYear=2015, genre=['Indie Folk']) }}">albums 1995-2015 Indie Folk</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=2005, maxYear=2014, genre=['Hip-Hop']) }}">albums 2005-2014 Hip-Hop</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1995, maxYear=2004, genre=['Pop Rock']) }}">albums 1995-2004 Pop Rock</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1995, maxYear=2004, genre=['Hip-Hop']) }}">albums 1995-2004 Hip-Hop</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1989, maxYear=1999, genre=['Alternative Rock']) }}">albums 1989-1999 Alternative Rock</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1985, maxYear=1994, genre=['Hip-Hop']) }}">albums 1985-1994 Hip-Hop</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1985, maxYear=1994, genre=['Grunge']) }}">albums 1985-1994 Grunge</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1985, maxYear=1994, genre=['Funk Rock', 'Funk Metal']) }}">albums 1985-1994 Funk Rock, Funk Metal</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1985, maxYear=1994, genre=['Classic Country', 'Country', 'Country Pop']) }}">albums 1985-1994 Classic Country</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1990, maxYear=1999, genre=['Alternative Metal']) }}">albums 1990-1999 Alternative Metal</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1980, maxYear=1989, genre=['Alternative Rock']) }}">albums 1980-1989 Alternative Rock</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1980, maxYear=1989, genre=['Classic Pop']) }}">albums 1980-1989 Classic Pop</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1980, maxYear=1989, genre=['Classic Rock']) }}">albums 1980-1989 Classic Rock</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1970, maxYear=1989, genre=['Classic Prog']) }}">albums 1970-1989 Classic Prog</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1970, maxYear=1989, genre=['Heavy Metal', 'Glam Metal']) }}">albums 1970-1989 Heavy Metal, Glam Metal</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1970, maxYear=1989, genre=['New Wave']) }}">albums 1970-1989 New-Wave</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1970, maxYear=1989, genre=['Electronic', 'Electronic (Instrumental)']) }}">albums 1970-1989 Electronic, Electronic (Instrumental)</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1979, maxYear=1989, genre=['Punk', 'Punk Rock']) }}">albums 1979-1989 Punk, Punk Rock</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1979, maxYear=1989, genre=['Post-Punk']) }}">albums 1979-1989 Post-Punk</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1970, maxYear=1979, genre=['Funk']) }}">albums 1970-1979 Funk</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1970, maxYear=1979, genre=['R&B/Soul']) }}">albums 1970-1979 R&B/Soul</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1970, maxYear=1979, genre=['Classic Rock']) }}">albums 1970-1979 Classic Rock</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1970, maxYear=1979, genre=['Soft Rock']) }}">albums 1970-1979 Soft Rock</a></td></tr>
            <tr><td><a href="{{ url_for('main.albums', minYear=1965, maxYear=1974, genre=['Psychedelic Rock']) }}">albums 1965-1974 Psychedelic Rock</a></td></tr>
        </table>
        <table class="w-100">
            <tr><th>Albums by year</th></tr>
            <!-- Show present day down to 1950 -->
            {% for year in range(1950,PRESENT_YEAR+1)[::-1] %}
                <tr><td><a href="{{ url_for('main.albums', year=year) }}">albums {{ year }}</a></td></tr>
            {% endfor %}
        </table>
    </table>
    {% include 'footer.html' %}
</body>
</html>
