<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>albums</title>
    {% include '_css.html' %}
</head>
<body>
    {% include 'links_bar.html' %}

    <div>
    <a href="{{ url_for('main.player', artist=request.args.getlist('artist'), genre=request.args.getlist('genre'), minYear=request.args.getlist('minYear'), maxYear=request.args.getlist('maxYear')) }}">Shuffle 
    
    {% if request.args.getlist('artist')|length > 0 %}
    {{ request.args.getlist('artist') | join(', ') }} 
    {% endif %}

    {% if request.args.getlist('genre')|length > 0 %}
    {{ request.args.getlist('genre') | join(', ') }}
    {% endif %}

    {% if request.args.getlist('minYear')|length > 0 %}
    {{ request.args.get('minYear') }}
    -
    {% endif %}
    {% if request.args.getlist('maxYear')|length > 0 %}
    {{ request.args.get('maxYear') }} 
    {% endif %}

    </a>
    <br>
    </div>


    <div class="results-info">
    {{ albums|result_or_results_album_covers }}:
    </div>
    <div id="trackList">
    {% for album in albums %}
        <a href="{{ url_for('main.tracks', albumartist=album[0], album=album[1], year=album[2]) }}">
            <img src="{{ url_for('main.getfile', path=album[3]) }}" class="CoverImg" width="600" height="600" />
        </a>
    {% endfor %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
