<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artists by {{ code_type }}</title>
    {% include 'css.html' %}
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="results-info">
        {{ artist_code_counts|result_or_results }}:
        </div>
        <div id="trackList">
            <table class="w-100">
                <tr>
                    <th>Count</th>
                    <th>{{ geo_type }}</th>
                </tr>
            {% for geo_info in artist_geo_counts %}
                <tr>
                    <td>{{ geo_info.count }}</td>
                    <td><a href="{{ geo_info.url }}">{{ geo_info.name }}</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
