<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>artists</title>
    {% include 'css.html' %}
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="results-info">
        {{ artist_counts|result_or_results }}:
        </div>
        <div id="trackList">
        <table class="w-100">
            <tr>
                <th><a href="{{ url_for('main.artists', genre=request.args.getlist('genre'), minYear=request.args.get('minYear'), maxYear=request.args.get('maxYear'), sort='count') }}">Count</a></th>
                <th><a href="{{ url_for('main.artists', genre=request.args.getlist('genre'), minYear=request.args.get('minYear'), maxYear=request.args.get('maxYear'), sort='name') }}">Artist</a></th>
                <th><a href="{{ url_for('main.artists', genre=request.args.getlist('genre'), minYear=request.args.get('minYear'), maxYear=request.args.get('maxYear'), sort='random') }}">Shuffle</a></a></th>
            </tr>
        {% for artist in artist_counts %}
            <tr>
                <td>{{ artist_counts[artist] }}</td>
                <td>{{ artist }}</td>
                <td>
                    <a href="{{ url_for('main.albums', artist=artist) }}">albums</a> 
                    <a href="{{ url_for('main.tracks', artist=artist) }}">tracks</a> 
                    <a href="{{ url_for('main.player', artist=artist) }}">shuffle</a> 
                </td>
            </tr>
        {% endfor %}
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
