<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>artists</title>
    {% include '_css.html' %}
</head>
<body>
    {% include 'links_bar.html' %}
    <div class="results-info">
    {{ "{:,}".format(artist_counts|length) }} {{ artist_counts|result_or_results }}:
    </div>
    <div id="trackList">
    <table class="w-100">
        <tr>
            <th><a href="{{ url_for('main.artists', sort='count') }}">Count</a></th>
            <th><a href="{{ url_for('main.artists', sort='name') }}">Artist</a></th>
        </tr>
    {% for artist in artist_counts %}
        <tr>
            <td>{{ artist_counts[artist] }}</td>
            <td><a href="{{ url_for('main.albums', artist=artist) }}">{{ artist }}</a></td>
        </tr>
    {% endfor %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
