<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>albums</title>
    {% include 'css.html' %}
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div>
            <table class="w-100">
                <tr>
                    <td><a href="{{ url_for('main.genres', sort='count') }}">genres (sorted by count)</a></td>
                </tr>
                <tr>
                    <td><a href="{{ url_for('main.genres', sort='name') }}">genres (sorted by name)</a></td>
                </tr>
                <tr>
                    <td><a href="{{ url_for('main.genres_cloud') }}">genres word cloud</a></td>
                </tr>
            </table>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
