<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>genres</title>
    {% include '_css.html' %}
</head>
<body>
    {% include 'links_bar.html' %}
    <div class="results-info">
    {{ "{:,}".format(genre_counts|length) }} {{ genre_counts|result_or_results }}:
    </div>
    <div id="trackList">
    <table class="w-100">
        <tr><th><a href="{{ url_for('main.genres', sort='count') }}">Count</a></th><th><a href="{{ url_for('main.genres', sort='name') }}">Genre</a></th></tr>
    {% for genre in genre_counts %}
        <tr>
            <td>{{ genre_counts[genre] }}</td><td><a href="{{ url_for('main.albums', genre=genre) }}">{{ genre }}</a></td>
        </tr>
    {% endfor %}
    </table>
    </div>
    {% include 'footer.html' %}
</body>
</html>
