<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>albums</title>
    {% include '_css.html' %}
</head>
<body>
    {% include 'links_bar.html' %}
    <table class="no-border w-100">
        <table class="w-100">
            <tr>
                <td><a href="/genres?sort=count">genres (sorted by count)</a></td>
            </tr>
            <tr>
                <td><a href="/genres?sort=name">genres (sorted by name)</a></td>
            </tr>
            <tr>
                <td><a href="/genres-cloud">genres word cloud</a></td>
            </tr>
        </table>
    </table>
    {% include 'footer.html' %}
</body>
</html>
