<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tracks</title>
    {% include '_css.html' %}
</head>
<body>
    {% include 'links_bar.html' %}
    {% if request.args.getlist('album')|length > 0 %}
    <div>
        {% if request.args.getlist('albumartist')|length > 0 %}
        <a class="navLink" href="/player?artist={{ request.args.get('albumartist')|quote_plus }}&album={{ request.args.get('album')|quote_plus }}">Shuffle Album {{ request.args.get('album') }}</a>
        {% elif request.args.getlist('artist')|length > 0 %}
        <a class="navLink" href="/player?artist={{ request.args.get('artist')|quote_plus }}&album={{ request.args.get('album')|quote_plus }}">Shuffle Album {{ request.args.get('album') }}</a>
        {% endif %}
        <br>
    </div>
    {% endif %}
    <div class="results-info">
    {{ "{:,}".format(files|length) }} results:
    </div>
    <div id="trackList">
    <table class="w-100">
        <tr><th>Playback Options</th><th>Title</th><th>Artist</th><th>Album</th><th>Year</th><th>Genre</th></tr>
        {% for file in files %}
        <tr>
            <td>
                <table class="no-border">
                    
                    {% if PLAYBACK_METHOD_LOCAL_ENABLED %}
                    <tr class="no-border"><td>
                        <a href="/player?artist={{ file.artist|quote_plus }}&album={{ file.album|quote_plus }}&title={{ file.title|quote_plus }}">▶ Local Media</a>
                    </td></tr>
                    {% endif %}

                    {% if PLAYBACK_METHOD_YOUTUBE_ENABLED %}
                    {% set args = { 'artist': file.artist, 'album': file.album, 'title': file.title } %}
                    <tr class="no-border"><td>
                        <a href="{{ args | format_search_query_url }}">🔍 YouTube</a>
                    </td></tr>
                    {% endif %}

                </table>
            </td>
            <td>{{ file.title }}</td>
            <td><a href="/albums?artist={{ file.artist|quote_plus }}">{{ file.artist }}</a></td>
            <td><a href="/tracks?artist={{ file.artist|quote_plus }}&album={{ file.album|quote_plus }}">{{ file.album }}</a></td>
            <td><a href="/albums?year={{ file.year }}">{{ file.year }}</a></td>
            <td><a href="/artists?genre={{ file.genre|quote_plus }}">{{ file.genre }}</a></td>
        </tr>
        {% endfor %}
    </table>
        {% if request.args.getlist('album')|length > 0 and cover_path|length > 0 %}
            <br>
            <img src="/getfile/{{ cover_path }}" id="coverImg" width="1000" height="1000" />
        {% endif %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
