<table class="w-100">
    <tr><th>{{ index_type | capitalize }} by genre(s)</th></tr>
    

    {% with tr_genres=['Industrial Metal', 'Punk', 'Punk Rock', 'Heavy Metal', 'Hip-Hop', 'Urbano', 'Thrash Metal', 'Nu Metal', 'Rock en español', 'Funk Metal', 'Hip-Hop français'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Hip-Hop', 'Hip-Hop français', 'Hip-Hop/Electronic', 'Hip-Hop/Reggae', 'Trip hop'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Post-Hardcore'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Indie Rock', 'Indie Folk'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Pop Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Alternative Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Alternative Metal'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Grunge'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Funk Metal', 'Funk Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Classic Country', 'Country', 'Country Pop'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Classic Pop'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Classic Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Soft Rock', 'Easy Listening'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Psychedelic Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Classic Prog'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Heavy Metal, Glam Metal'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Electronic', 'Electronic (Instrumental)'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Punk', 'Punk Rock', 'Horror Punk'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['New Wave', 'Synth-pop'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Post-Punk', 'Goth Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['Funk'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    {% with tr_genres=['R&B/Soul'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}
</table>
