<table class="w-100">
    <tr><th>{{ index_type | capitalize }} by year range and genre(s)</th></tr>

    {% with tr_min_year=1960, tr_max_year=PRESENT_YEAR, tr_genres=['Industrial Metal', 'Punk', 'Punk Rock', 'Heavy Metal', 'Hip-Hop', 'Urbano', 'Thrash Metal', 'Nu Metal', 'Rock en español', 'Funk Metal', 'Hip-Hop français'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=2015, tr_max_year=PRESENT_YEAR, tr_genres=['Hip-Hop', 'Hip-Hop français', 'Hip-Hop/Electronic', 'Hip-Hop/Reggae', 'Trip hop'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1998, tr_max_year=2008, tr_genres=['Post-Hardcore', 'Emo / Pop-Rock'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1995, tr_max_year=2015, tr_genres=['Indie Rock'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1995, tr_max_year=2015, tr_genres=['Indie Folk'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=2005, tr_max_year=2014, tr_genres=['Hip-Hop'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1995, tr_max_year=2004, tr_genres=['Pop Rock'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1995, tr_max_year=2004, tr_genres=['Hip-Hop'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1989, tr_max_year=1999, tr_genres=['Alternative Rock'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1985, tr_max_year=1994, tr_genres=['Hip-Hop'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1985, tr_max_year=1994, tr_genres=['Grunge'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1985, tr_max_year=1994, tr_genres=['Funk Metal', 'Funk Rock'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1985, tr_max_year=1994, tr_genres=['Classic Country', 'Country', 'Country Pop'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1990, tr_max_year=1999, tr_genres=['Alternative Metal'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1980, tr_max_year=1989, tr_genres=['Alternative Rock', 'Shoegaze'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1980, tr_max_year=1989, tr_genres=['Classic Pop'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1980, tr_max_year=1989, tr_genres=['Classic Rock'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1980, tr_max_year=1989, tr_genres=['Classic Prog'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1980, tr_max_year=1989, tr_genres=['Heavy Metal', 'Glam Metal'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1970, tr_max_year=1989, tr_genres=['New Wave', 'Synth-pop', 'New Wave français'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1970, tr_max_year=1989, tr_genres=['Electronic', 'Electronic (Instrumental)'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1975, tr_max_year=1989, tr_genres=['Punk', 'Punk Rock', 'Horror Punk'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1975, tr_max_year=1989, tr_genres=['Post-Punk', 'Goth Rock'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1969, tr_max_year=1979, tr_genres=['Funk'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1969, tr_max_year=1979, tr_genres=['R&B/Soul'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1965, tr_max_year=1979, tr_genres=['Classic Rock', 'Soft Rock', 'Easy Listening', 'Psychedelic Rock'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}

    {% with tr_min_year=1959, tr_max_year=1964, tr_genres=['Classic Rock', 'Soft Rock', 'Psychedelic Rock'] %}
    {% include 'x_by_year_range_and_genre_tr.html' %}
    {% endwith %}
</table>